@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --gray-box-shadow: 0 0 4px rgba(128, 128, 128, 0.5);
    --gray-border: solid 1px rgba(128, 128, 128, 0.5);
}

body {
    max-width: 550px;
    margin: 0 auto;
    animation-name: bg-color;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

h1 {
    margin: 0;
    display: flex;
    justify-content: center;
    color:rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 4px rgb(0, 35, 80, 0.75);
}

button {
    cursor: pointer;
    border-radius: 3px;
    border-width: 1px;
    padding: 0.4rem 0.8rem;
    border-color: rgba(0, 0, 0, 0.2);
}

button:hover {
    filter: brightness(95%);
}

button:active {
    filter: brightness(100%);
}

.para-grid-size {
    margin: 0;
    text-align: center;
    font-size: 0.85rem;
    font-style: italic;
}

.flex-container {
    width: 515px;
    height: 515px;
    margin: 0 auto;
    display: flex;
    border: var(--gray-border);
    border-top: none;
    border-left: none;
    box-shadow: var(--gray-box-shadow);
    border-width: 1px;
    background-color: white;
}

.flex-child {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.flex-item {
    height: 100%;
    border: var(--gray-border);
    border-bottom: none;
    border-right: none;
    border-width: 1px;
}

.bg-fade {
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 5px;
}

.prompt-box {
    width: 280px;
    height: 280px;
    background-color: rgb(180, 240, 255);
    background: linear-gradient(345deg, rgba(180, 240, 255, 1) 0%, rgba(110, 205, 245, 0.85) 50%, rgba(115, 215, 255, 1) 100%);
    margin: 0 auto;
    margin-top: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 5px;
    box-shadow: var(--gray-box-shadow);
}

.prompt-msg {
    letter-spacing: 1px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.prompt-msg, .prompt-input {
    margin: 0 1rem;
}

.prompt-close-box {
    position: relative;
}

.prompt-close-btn {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    left: 105px;
    top: -55px;
    color: #fff;
    background-color: rgba(128, 128, 128, 0.6);
    border-radius: 50%;
}
.prompt-close-btn:before,
.prompt-close-btn:after {
    position: absolute;
    content: ' ';
    height: 22px;
    margin-left: 14px;
    margin-top: 4px;
    width: 2px;
    background-color: #e9e9e9;
}
.prompt-close-btn:before {
    transform: rotate(45deg);
}
.prompt-close-btn:after {
    transform: rotate(-45deg);
}
.prompt-close-btn:hover {
    filter:brightness(125%);
}

.prompt-warning-msg {
    color: rgb(235, 65, 65);
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.8);
}

footer {
    text-align: center;
    margin: 5px 0;
}
footer a {
    font-size: 0.85rem;
    text-decoration: none;
    border-bottom: 1px solid rgb(105, 90, 240);
}
footer a:visited {
    color:rgb(105, 90, 240);
}
footer a:hover{
    color: rgb(235, 65, 65);
    border-bottom: 1px solid rgb(235, 65, 65);
}



@keyframes bg-color {
    0% {background: rgba(114, 216, 255, 0.2);}
    25% {background: rgba(114, 216, 255, 0.4);}
    50% {background: rgba(114, 216, 255, 0.6);}
    75% {background: rgba(114, 216, 255, 0.4);}
    100% {background: rgba(114, 216, 255, 0.2);}
}

/* not the optimal way to add media queries-
need to find a better way to make this responsive */
@media screen and (max-width: 570px) {
    .flex-container {
        width: 470px;
        height: 470px;
    }
}
@media screen and (max-width: 470px) {
    .flex-container {
        width: 370px;
        height: 370px;
    }
}
@media screen and (max-width: 395px) {
    .flex-container {
        width: 300px;
        height: 300px;
    }
    .prompt-box {
        margin-top: 3.5rem;
    }
}